sudo cat << EOF > /etc/systemd/system/linkhut.service
[Unit]
Description=linkhut social network
After=network.target postgresql.service

[Service]
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

# Name of the user that runs the linkhut service.
User=linkhut
# Declares that linkhut runs in production mode.
Environment="MIX_ENV=prod"

# Make sure that all paths fit your installation.
# Path to the home directory of the user running the linkhut service.
Environment="HOME=/var/lib/linkhut"
# Path to the environment variables.
EnvironmentFile=/var/lib/linkhut/linkhut.env
# Path to the folder containing the linkhut installation.
WorkingDirectory=/opt/linkhut
# Path to the server command
ExecStart=/var/lib/linkhut/bin/server

# Some security directives.
# Use private /tmp and /var/tmp folders inside a new file system namespace, which are discarded after the process stops.
PrivateTmp=true
# The /home, /root, and /run/user folders can not be accessed by this service anymore. If your linkhut user has its home folder in one of the restricted places, or use one of these folders as its working directory, you have to set this to false.
ProtectHome=true
# Mount /usr, /boot, and /etc as read-only for processes invoked by this service.
ProtectSystem=full
# Sets up a new /dev mount for the process and only adds API pseudo devices like /dev/null, /dev/zero or /dev/random but not physical devices. Disabled by default because it may not work on devices like the Raspberry Pi.
PrivateDevices=false
# Drops the sysadmin capability from the daemon.
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
EOF
